$hoverColor: #220022;
$backgroundColor: #330033;
$dotMoePurple: #660066;
@font-face{
    font-family: 'JetBrains Mono';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*, :after, :before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #ffffff
}

:after, :before {
  --tw-content: ""
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: JetBrains Mono, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  color: #ffffff;
}

body {
  margin: 0;
  background-color: $backgroundColor;
  line-height: inherit
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}
button, [role="button"] {
  cursor: pointer;
}
button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

[type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none
}

:-moz-focusring {
  outline: auto
}

:-moz-ui-invalid {
  box-shadow: none
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0
}

[role=button] {
  cursor: pointer
}

:disabled {
  cursor: default
}

img, object {
  display: block;
  vertical-align: middle
}

img {
  max-width: 100%;
  height: auto
}

[hidden] {
  display: none
}

*, :after, :before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / .5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.-left-1 {
  left: -.25rem
}

.-left-1\.5 {
  left: -.375rem
}

.left-0 {
  left: 0
}

.z-50 {
  z-index: 50
}

.m-0 {
  margin: 0
}

.m-auto {
  margin: auto
}

.mb-1 {
  margin-bottom: .25rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.mb-2 {
  margin-bottom: .5rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.ml-2 {
  margin-left: .5rem
}

.ml-3 {
  margin-left: .75rem
}

.ml-4 {
  margin-left: 1rem
}

.ml-auto {
  margin-left: auto
}

.mt-0 {
  margin-top: 0
}

.mt-1 {
  margin-top: .25rem
}

.mt-1\.5 {
  margin-top: .375rem
}

.mt-5 {
  margin-top: 1.25rem
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.h-14 {
  height: 3.5rem
}

.h-3 {
  height: .75rem
}

.h-5 {
  height: 1.25rem
}

.h-52 {
  height: 13rem
}

.h-6 {
  height: 1.5rem
}

.h-72 {
  height: 18rem
}

.h-8 {
  height: 2rem
}

.h-\[calc\(100\%-1rem\)\] {
  height: calc(100% - 1rem)
}

.max-h-full {
  max-height: 100%
}

.min-h-screen {
  min-height: 100vh
}

.w-14 {
  width: 3.5rem
}

.w-3 {
  width: .75rem
}

.w-44 {
  width: 11rem
}

.w-5 {
  width: 1.25rem
}

.w-6 {
  width: 1.5rem
}

.w-72 {
  width: 18rem
}

.w-8 {
  width: 2rem
}

.w-96 {
  width: 24rem
}

.w-full {
  width: 100%
}

.max-w-2xl {
  max-width: 42rem
}

.max-w-3xl {
  max-width: 48rem
}

.max-w-screen-xl {
  max-width: 1280px
}

.max-w-xs {
  max-width: 20rem
}

.flex-shrink-0 {
  flex-shrink: 0
}

@keyframes blink {
  0% {
    opacity: 1
  }
  40% {
    opacity: 1
  }
  60% {
    opacity: 0
  }
  to {
    opacity: 0
  }
}

@keyframes top-in {
  0% {
    transform: translateY(-100%);
    opacity: 0
  }
  to {
    transform: translateY(0);
    opacity: 100
  }
}

@keyframes top-out {
  0% {
    transform: translateY(0);
    opacity: 100
  }
  to {
    transform: translateY(-100%);
    opacity: 0
  }
}

.cursor-pointer {
  cursor: pointer
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.place-items-center {
  place-items: center
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-10 {
  gap: 2.5rem
}

.gap-2 {
  gap: .5rem
}

.gap-3 {
  gap: .75rem
}

.gap-5 {
  gap: 1.25rem
}

.gap-6 {
  gap: 1.5rem
}

.overflow-x-hidden {
  overflow-x: hidden
}

.rounded {
  border-radius: .25rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: .5rem
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border-l {
  border-left-width: 1px
}

.border-sixth {
  --tw-border-opacity: 1;
  border-color: rgb(220 220 220 / var(--tw-border-opacity))
}

.border-tert {
  --tw-border-opacity: 1;
  border-color: rgb(58 58 58 / var(--tw-border-opacity))
}

.border-opacity-25 {
  --tw-border-opacity: .25
}

.bg-\[\#494949\] {
  --tw-bg-opacity: 1;
  background-color: rgb(73 73 73 / var(--tw-bg-opacity))
}

.bg-highlight-darker {
  background-color: #0005
}
.bg-white {
  background-color: #ffffff;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover
}

.p-0 {
  padding: 0
}

.p-1 {
  padding: .25rem
}

.p-1\.5 {
  padding: .375rem
}

.p-2 {
  padding: .5rem
}

.p-2\.5 {
  padding: .625rem
}

.p-3 {
  padding: .75rem
}

.p-4 {
  padding: 1rem
}

.p-5 {
  padding: 1.25rem
}

.p-6 {
  padding: 1.5rem
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem
}

.px-2\.5 {
  padding-left: .625rem;
  padding-right: .625rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem
}

.py-2\.5 {
  padding-top: .625rem;
  padding-bottom: .625rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.pt-5 {
  padding-top: 1.25rem
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-5xl {
  font-size: 3rem;
  line-height: 1
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.font-normal {
  font-weight: 400
}

.font-semibold {
  font-weight: 600
}

.capitalize {
  text-transform: capitalize
}

.leading-none {
  line-height: 1
}

.leading-normal {
  line-height: 1.5
}

.tracking-tight {
  letter-spacing: -.025em
}

.text-quin {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-sixth {
  --tw-text-opacity: 1;
  color: rgb(220 220 220 / var(--tw-text-opacity))
}

.text-tert {
  --tw-text-opacity: 1;
  color: rgb(58 58 58 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

.underline-offset-8 {
  text-underline-offset: 8px
}

.opacity-0 {
  opacity: 0
}

.opacity-100 {
  opacity: 1
}

.opacity-50 {
  opacity: .5
}

.opacity-70 {
  opacity: .7
}

.opacity-75 {
  opacity: .75
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s
}

.duration-150 {
  transition-duration: .15s
}

.hover\:border-sixth:hover {
  --tw-border-opacity: 1;
  border-color: rgb(220 220 220 / var(--tw-border-opacity))
}

.hover\:bg-highlight-darker:hover {
  background-color: #0005
}


.hover\:bg-highlight:hover {
  background-color: $hoverColor
}

.hover\:text-quin:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.hover\:text-sixth:hover {
  --tw-text-opacity: 1;
  color: rgb(220 220 220 / var(--tw-text-opacity))
}

.hover\:text-opacity-80:hover {
  --tw-text-opacity: .8
}

@media (min-width: 640px) {
  .sm\:flex-row {
    flex-direction: row
  }
  .sm\:flex-wrap {
    flex-wrap: wrap
  }
  .sm\:gap-14 {
    gap: 3.5rem
  }
  .sm\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem
  }
}

@media (min-width: 768px) {
  .md\:static {
    position: static
  }
  .md\:inset-0 {
    inset: 0
  }
  .md\:inset-auto {
    inset: auto
  }
  .md\:order-2 {
    order: 2
  }
  .md\:translate-y-0 {
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }
  .md\:justify-normal {
    justify-content: normal
  }
  .md\:opacity-100 {
    opacity: 1
  }
}