<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ section.title }}</title>
  <link rel="stylesheet" href="/cv.css"/>
</head>
<body class="max-w-3xl m-auto min-h-screen overflow-x-hidden transition-colors duration-150 p-4 z-50">
<main class="max-w-3xl m-auto p-5">
  <ul class="flex-wrap w-full flex gap-2 pt-5 p-3">
    {% for language in section.translations %}
      <a href="{{ language.permalink }}" class="inline-flex items-center" target="_self">
        <li>
          <button type="button" data-dropdown-toggle="language-dropdown-menu"
                  class="inline-flex items-center relative font-medium justify-center px-4 py-2  dark:text-sixth rounded-lg cursor-pointer hover:bg-highlight">

            <img class="flag-img" src="/img/{{ language.lang }}.svg" alt="{{ language.lang }}">
            {{ language.lang }}
          </button>
        </li>
      </a>
    {% endfor %}
  </ul>
  <section id="landing" class="gap-5 items-center">
  <div class="flex justify-between flex-col sm:flex-row gap-5 items-center">
    <div class="flex flex-col items-center gap-5">
      <h1 class="text-5xl font-bold text-center">
        David Bañón Gil
      </h1>
      <span class="flex gap-5">
      {% for link in section.extra.links %}
        <a href="{{ link.target }}" rel="noopener noreferrer" target="_blank" title="{{ link.title }}"
           class="w-14 h-14 p-2 hover:bg-highlight-darker grid place-items-center rounded duration-150">
        <img src="/img/{{ link.icon }}">
        </a>
      {% endfor %}
      </span>
    </div>
    <img class="h-72 w-72 object-cover p-1 rounded-full border-2 border-tert" src="/img/bano-pfp.jpg" alt="Profile picture"/>
  </div>
  <p class="text-lg  mb-5 ml-4 text-center">
    <a class="underline underline-offset-8" aria-label="go to experience section" href="#experience">{{ section.extra.experience }}</a>
    <a class="underline underline-offset-8"aria-label="go to education section" href="#education">{{ section.extra.education }}</a>
    <a class="underline underline-offset-8"aria-label="go to projects section" href="#projects">{{ section.extra.projects_title }}</a></p>
  </section>
  <section id="experience">
    <h2 class="text-lg underline-offset-8 underline mb-5 text-quin">{{ section.extra.experience }}</h2>
    <ol class="relative border-l border-tert">
      {% for work in section.extra.works %}
        <li class="mb-10 ml-4">
          <div class="absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 border border-tert bg-white"></div>
          <time class="mb-1 text-sm font-normal leading-none text-sixth opacity-50">{{ work.time }}</time>
          <h3 class="font-semibold text-quin">
            {{ work.title }}
          </h3>
          <div class="mb-4 text-sm font-normal text-sixth opacity-75">
            {% for line in work.description | split(pat="\n") %}
              <p>{{ line }}</p>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ol>
  </section>
  <section id="education">
    <h2 class="text-lg underline-offset-8 underline mb-5 text-quin">{{ section.extra.education }}</h2>
    <ol class="relative border-l border-tert">
      {% for edu in section.extra.edu %}
        <li class="mb-10 ml-4">
          <div class="absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 border border-tert bg-white"></div>
          <time class="mb-1 text-sm font-normal leading-none text-sixth opacity-50">{{ edu.time }}</time>
          <h3 class="font-semibold text-quin">
            {{ edu.type }} {{ edu.title }}
          </h3>
          <p class="mb-4 text-sm font-normal text-sixth opacity-75">{{ edu.place }}</p>
        </li>
      {% endfor %}
    </ol>
  </section>
  <section id="projects">
    <h2 class="text-lg underline-offset-8 underline mb-5 text-quin">{{ section.extra.projects_title }}</h2>
    <ul class="flex gap-3 flex-wrap justify-center md:justify-normal sm:gap-14 sm:flex-row sm:flex-wrap w-full">
      {% for project in section.extra.projects %}
        <li class="max-w-xs w-96 relative rounded-lg hover:bg-highlight duration-150 cursor-pointer">
          <a class="p-0 m-0" href="{{ project.link }}" title="{{ project.title }}" target="_blank">
            <img class="object-cover w-full h-52 mb-4 rounded-lg" src="{{ project.image }}"
                 alt="{{ project.title }}">
            <h5 class="text-center text-2xl font-bold tracking-tight text-sixth">{{ project.title }}</h5>
            {% for line in project.description | split(pat="\n") %}
              <p class="text-sm text-center px-2">{{ line }}</p>
            {% endfor %}
            <ul class="flex-wrap w-full flex gap-2 pt-5 p-3">
              {% for technology in project.technologies %}
                <li class="capitalize font-medium text-xs shadow-sm rounded flex justify-center items-center gap-2 px-2.5 py-1 bg-highlight-darker">
                  <img width="15" height="15" src="/img/{{ technology|lower }}.svg">
                  {{ technology }}
                </li>
              {% endfor %}
            </ul>
          </a>
        </li>
      {% endfor %}

    </ul>
  </section>

</main>

</body>
</html>